.content-wrapper {
    min-height: 570.132px;
}

.headun {
    display: block;
    overflow: hidden;
}

.headun a {
    float: right;
    margin-top: -25px;
}

/*.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid #ddd;
}*/


.table.tbl-detail tr th td {
}

.table.tbl-detail td {
    border: none;
}

.table.tbl-detail th {
    border: none;
}

h4.tit {
    display: inline-block;
}

.content.content-box {
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    background: white;
    box-shadow: 2px 2px 2px 2px grey;
    margin-top: 10px;
}


.title-box {
    display:  block;
    width: 190px;
    margin-left: 15px;
}

.title-box h4 {
    border-bottom: 3px solid grey;
    padding-bottom: 3px;
    color: #222d32;
}

.row.row-konten {
    border: 1px solid #ccc;
    margin-left: 5px;
    margin-right: 5px;
}

.col-md-6.col-kain {
    background:  white;
    padding: 20px 10px;
    margin-left: 10px;
    width: 48%;
}

.col-md-6.col-benang {
    background:  white;
    padding: 20px 10px;
    margin-left: 10px;
    width: 49%;
}

.col-md-2.cari {
    padding-left: 0px;
}

.col-md-2.cari .btn.btn-primary.btn-block {
    border-radius: 0px;
}

.sizeFont {
    font-size: 20px !important;
}